﻿@using Ilm.CodeAudition.Service
@model IList<Ilm.CodeAudition.Service.Models.Timesheet>

@{
    ViewData["Title"] = "Timesheet";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Mon
            </th>
            <th>
                Tue
            </th>
            <th>
                Wed
            </th>
            <th>
                Thu
            </th>
            <th>
                Fri
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm())
        {
            for (int i = 0; i < @Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(x => Model[i].Id)
                        @Html.HiddenFor(x => Model[i].EmployeeId)
                        @Html.DisplayFor(x => Model[i].ProjectName)
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model[i].Monday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model[i].Tuesday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model[i].Wednesday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model[i].Thursday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model[i].Friday, new { size = 5 })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => Model[i].Total, new { size = 5 })
                    </td>
                </tr>
            }
            <tr><td><input type="submit" value="UpdateTime" /></td></tr>
        }
    </tbody>
</table>
